<a id="go" name="test" href="#test">Basic</a>

<div id="test">
     
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <button type="button" onclick="findMe()"><b>Get Location</b></button><br><br>
      <%= f.label :lat, "Latitude" %>
      <%= f.text_field :lat, class: 'form-control', id: "user_lat", :readonly =>true %>
      <%= f.label :long, "Longitude" %>
      <%= f.text_field :long, class: 'form-control', id: "user_long", :readonly=> true %>

      <%= f.submit "Create my account", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>
</div>

<script type="text/javascript">
jQuery('#go').leanModal({ top : 200, overlay : 0.4, closeButton: ".close_modal" });
</script>