
<div class="container-fluid">
<ul class="nav nav-tabs nav-justified" role="tablist" id="mapTabs">
<li class="active"><a href="#map" role="tab" data-toggle="tab">Map</a></li>
<li><a href="#search" role="tab" data-toggle="tab">Search</a></li>

</ul>



<div class="tab-content">
<div class="tab-pane active" id="map"><div id='map-canvas2'>
</div><br>

</div>

<div class="tab-pane" id="search"><p>search</p>
<%= render :partial => 'static_pages/searchuser' %>
<%= will_paginate @users%>
<ul class="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
</ul>
<% will_paginate @users%>
</div>
</div>
</div>



<script>

var lats = [];
var longs = [];
var ids = [];
var loader = document.getElementById('mapTabs');
var latitude;
var longitude;
var id = '<%= @current_user.id%>';
var zoom;
var maybe;
if ('<%= @current_user.lat%>' == null)
{
	latitude = -0.1865944;
	longitude = -78.4305382;
	zoom = 2;
	maybe = false;
	
}
else {
	latitude= '<%= @current_user.lat%>';
	longitude = '<%= @current_user.long%>';
	zoom = 13;
	maybe = true;
}

console.log(latitude, longitude);
for (var i=0; i<gon.users.length; i++)
{
	if (id != gon.users[i].id && gon.users[i].long != null)
	{
	lats.push(gon.users[i].lat);
	longs.push(gon.users[i].long);
	ids.push(gon.users[i].id);
}
}

initialize(latitude, longitude);

function initialize(){
	var mapCanvas = document.getElementById('map-canvas2');
	var mapOptions = {
		center: new google.maps.LatLng(latitude, longitude),
		zoom: zoom,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		panControl: false,
        zoomControl: true,
        scaleControl: false,
        scrollwheel: true
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);

	var userMarker = new google.maps.Marker({
		position: mapOptions.center,
		map: map,
		animation: google.maps.Animation.BOUNCE,
		visible: maybe
	});
	var userInfoWindow = new google.maps.InfoWindow({
		content: "You are here!"
		
	});
	
		
		
	var i;
	for (i=0; i<lats.length; i++)
	{
		add_marker(lats[i], longs[i], ids[i], map);
		
	}

	if (maybe) 
	{
	google.maps.event.addDomListener(window, 'load', function() {
		userInfoWindow.open(map, userMarker);
		
	});
};
	
}

function add_marker(latitude, longitude, id, map) {
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(latitude, longitude),
		map: map
	});
	var url = "/users/" + id; 
	
	var info_window = new google.maps.InfoWindow({
		content: "ID: " + id + "<br>" + "<a href=" + url + ">View Profile</a>"  

	});
		google.maps.event.addListener(marker, 'click', function() {
			
			info_window.open(map, this);
		});
	return marker;
}








</script>

