<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
  <% if params[:search] %>
  <p>Search results for '<%=params[:search]%>'</p>
  <p>'<%= @length %>' result(s) returned. </p>
  <% end %>
<% end %>