<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <button type="button" onclick="findMe()"><b>Get Location</b></button>
      <button type="button" onclick="removeMe()"><b>Remove Location</b></button><br><br>
      <%= f.label :lat, "Latitude" %>
      <%= f.text_field :lat, class: 'form-control', id: "user_lat", :readonly =>true %>
      <%= f.label :long, "Longitude" %>
      <%= f.text_field :long, class: 'form-control', id: "user_long", :readonly=> true %>
      <%= f.label :city, "City" %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :sSubjects, "I want to study for " %>
      <%= f.text_field :sSubjects, class: 'form-control' %>

      <%= f.label :tSubjects, "I can tutor for " %>
      <%= f.text_field :tSubjects, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>

<script>
var x = document.getElementById('user_lat');
var y = document.getElementById('user_long');
function findMe() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }
}

function showPosition(position) {
  x.value = position.coords.latitude;
  y.value = position.coords.longitude;
}

function removeMe() {
  x.value = null;
  y.value = null;
}
</script>