<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
 			 <%= gravatar_for @user %>
  			 <%= @user.name %><br>
  			 <%= @user.city %><br>
  			 Email: <%= @user.email %><br><br>
  			 <% if @user.student %>
  			 	Studying for: <%= @user.sSubjects %>
  			 <%end%><br><br>
  			 <% if @user.tutor %>
  			 	Tutoring for: <%= @user.tSubjects %>
  			 <%end%>
			</h1>
		</section>
	</aside>
</div>